@use "../../global/" as *;

/* ============================================
 * ボタン
 * ============================================ */
.btn {
  background-color: $red;
  border: rem(2) solid $red;
  color: $white;
  display: inline-block;
  font-size: rem(24);
  padding: rem(14) rem(40);
  text-align: center;
  transition: opacity 0.3s, transform 0.3s;

  &:hover {
    opacity: 0.9;
    transform: scale(1.05);
  }
}
